@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");
html{
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}
.resize-text-sm {
  font-size: clamp(1rem, -0.875rem + 6vw, 4rem);
}
.resize-text-lg {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}
.pokeball-bg {
  background-image: url("/img/pokeball-bg-v1.png");
  background-position: 120% bottom;
  background-size: 60%;
  background-repeat: no-repeat;

}